## Insert Spark dataframe into a SQL table

In [1]:
from pyspark.sql import SparkSession
import findspark

findspark.init()

spark = (
    SparkSession.builder
    .appName("Fashion-SQL")
    .master("local[*]")
    .config("spark.sql.shuffle.partitions", "8")
    .config("spark.driver.memory", "4g")
    .getOrCreate()
)

26/02/17 10:13:55 WARN Utils: Your hostname, MacBook-Air-M4.local resolves to a loopback address: 127.0.0.1; using 192.168.100.12 instead (on interface en0)
26/02/17 10:13:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

26/02/17 10:13:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
sql = spark.read.parquet("hdfs/fashion_dataset")
sql.createOrReplaceTempView("fashion_sql_datasets")

spark.sql(
    """
SELECT * FROM fashion_sql_datasets;
"""
).show()

+----------+--------+---------------+-----------+----------+---------+--------+---------------+----------+--------------+----------+-----------+--------------+---------+------+------+
|   item_id|category|    subcategory|sleeve_type|    season|   fabric|occasion|formality_level|size_range|         brand|view_count|click_count|purchase_count|length_cm| price|stocks|
+----------+--------+---------------+-----------+----------+---------+--------+---------------+----------+--------------+----------+-----------+--------------+---------+------+------+
|TNC_000001| bottoms|     men_cargos|       long|    winter|polyester|  casual|           high|         S|Tommy Hilfiger|        93|        192|             4|       97|262476|    35|
|TNC_000002|    tops|  formal_shirts|       long|    winter|    linen|   party|         medium|         S|           HnM|      2941|         84|             5|       77|266987|   182|
|TNC_000003|    tops|  formal_shirts|       long|    winter|    denim|   party|           high|        XL|           HnM|       401|        434|            35|       71|286065|    32|
|TNC_000004|    tops|printed_tshirts|      short|all-season|    linen|  office|            low|       XXL|Tommy Hilfiger|       318|         85|           101|       70|153376|   149|
|TNC_000005|    tops|  formal_shirts|       long|all-season|polyester|  casual|            low|         L|          ZARA|       857|        153|            67|       69|323155|    43|
|TNC_000006|    tops|printed_hoodies|       long|all-season|    denim|  casual|            low|        XL|           HnM|       850|         41|             1|       75|317967|   104|
|TNC_000007| bottoms|     men_cargos|       long|    summer|   fleece|  office|         medium|        XS|          Polo|       222|         56|           125|      104|284814|   187|
|TNC_000008|    tops|printed_tshirts|      short|all-season|   cotton|  office|            low|         S|        Adidas|       551|          6|            17|       72|146223|     3|
|TNC_000009|    tops|  casual_shirts|       long|    summer|    linen|  casual|         medium|        XL|Tommy Hilfiger|      1543|        407|            18|       73|266445|     5|
|TNC_000010| bottoms|     men_cargos|       long|    summer|    denim|   party|            low|        XS|          ZARA|      4150|         85|            60|      103|323961|   126|
|TNC_000011|    tops|  solid_tshirts|      short|    winter|    linen|  office|            low|         S|          ZARA|       933|        120|             0|       75|119684|   194|
|TNC_000012|    tops|printed_hoodies|       long|all-season|   fleece|  office|            low|       XXL|          Nike|       586|        352|             7|       70|346218|    82|
|TNC_000013| bottoms|     men_cargos|       long|all-season|polyester|   party|         medium|       XXL|          Nike|       488|        357|            24|      103|265465|    91|
|TNC_000014| bottoms|          jeans|       long|all-season|polyester|   party|            low|         S|          Polo|       130|         32|            52|       95|242625|    50|
|TNC_000015|    tops|  casual_shirts|       long|    summer|polyester|  casual|           high|         M|          ZARA|       650|        136|             0|       78|284180|   119|
|TNC_000016|    tops|  casual_shirts|       long|    winter|    denim|   party|           high|         L|           HnM|       779|         82|            17|       76|262875|   200|
|TNC_000017|    tops|  casual_shirts|       long|all-season|polyester|   party|           high|       XXL|          Polo|      1148|          8|            17|       69|253168|    97|
|TNC_000018| bottoms|     men_cargos|       long|    summer|polyester|  office|         medium|       XXL|          Nike|       915|        404|             3|      101|358281|     8|
|TNC_000019|    tops|printed_tshirts|      short|all-season|    linen|   party|         medium|        XL|          ZARA|       840|        271|            25|       65|190266|    59|
|TNC_000020|    tops|  casual_shirts|       long|    winter|   cotton|  office|         medium|       XXL|           HnM|      1105|        279|            36|       71|256064|    23|
+----------+--------+---------------+-----------+----------+---------+--------+---------------+----------+--------------+----------+-----------+--------------+---------+------+------+
only showing top 20 rows