In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Import data

In [7]:
def load_data(file_path):
    df = pd.read_csv(file_path)
    return df

df = load_data('predicted_sales_profit_item_id_exceed.csv')
df

,item_id,purchase_count,price,stocks,sales,stock_value,profit_status,date,predicted_sales,predicted_profit
0,item_0075,0,28.0,11,0.0,308.0,0,2025-01-01,3585.90,profit
1,item_0070,0,81.0,81,0.0,6561.0,0,2025-01-01,3586.31,profit
2,item_0142,0,60.0,49,0.0,2940.0,0,2025-01-01,3584.88,profit
3,item_0154,0,37.0,99,0.0,3663.0,0,2025-01-01,3586.31,profit
4,item_0095,0,83.0,45,0.0,3735.0,0,2025-01-01,3586.78,profit
...,...,...,...,...,...,...,...,...,...,...
8590,item_8621,50,148.0,41,7400.0,6068.0,1,2025-12-27,3585.10,profit
8591,item_8624,50,149.0,70,7450.0,10430.0,1,2025-12-29,3585.14,profit
8592,item_8623,50,149.0,60,7450.0,8940.0,1,2025-12-29,3585.21,profit
8593,item_8622,50,149.0,55,7450.0,8195.0,1,2025-12-29,3585.23,profit
8594,item_8625,50,150.0,17,7500.0,2550.0,1,2025-12-31,3585.01,profit

In [8]:
df['predicted_profit'].value_counts()

profit    8595
Name: predicted_profit, dtype: int64

# ðŸŽ¯ Purporse project

### 1. Add Dataframe (df) features to ensure the LLM prompting is relevant to dataframe

### 2. Integration RAG_Analysis_Report.pdf to dataframe

### 3.